################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TALKiWAYz/TALKiWAYz/obj
/TALKiWAYz/.vs/TALKiWAYz/v15/Server/sqlite3/db.lock
